<nav class="topnav">

  <a href="{{ '/' | relative_url }}">
    <i class="fa-solid fa-user"></i>
    About
  </a>

  <a href="{{ '/education/' | relative_url }}">
    <i class="fa-solid fa-graduation-cap"></i>
    Education
  </a>

  <a href="{{ '/projects/' | relative_url }}">
    <i class="fa-solid fa-robot"></i>
    Projects
  </a>

  <a href="{{ '/experience/' | relative_url }}">
    <i class="fa-solid fa-briefcase"></i>
    Experience
  </a>

  <a href="{{ '/resume/' | relative_url }}">
    <i class="fa-solid fa-file"></i>
    Resume
  </a>

</nav>
