<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- GitHub markdown styling -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.6.1/github-markdown.min.css">

  <!-- Custom styles -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
  <div class="wrap">

    <header class="site-header">
      <div class="titleblock">
        <h1 class="site-title">
          <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
        </h1>
        <p class="site-tagline">{{ site.description }}</p>
      </div>

      {% include nav.html %}
    </header>

    <main class="content markdown-body">
      {{ content }}
    </main>

    <footer class="site-footer">
    
    <h2>Contact</h2>
    
    <div class="contact-links">
    
    <a href="mailto:sridharan.sai@northeastern.edu">
    <i class="fa-solid fa-envelope"></i>
    sridharan.sai@northeastern.edu
    </a>
    
    <a href="https://www.linkedin.com/in/sairam-sridharan-6640441b9/" target="_blank">
    <i class="fa-brands fa-linkedin"></i>
    LinkedIn
    </a>
    
    <a href="https://github.com/Sairamzz" target="_blank">
    <i class="fa-brands fa-github"></i>
    GitHub
    </a>
    
    </div>
    
    </footer>

  </div>
</body>
</html>
